h1{
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #b89be7);
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.newreg{
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SubApp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input{
  margin-top: 10px;
  margin-bottom: 10px;
}
Button{
  margin-top: 10px;
  margin-bottom: 10px;
}

